<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest"
         xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="Microsoft.SDKSamples.Geolocation.CPP" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Geolocation CPP sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\storeLogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="GeolocationCPP.App" Executable="GeolocationCPP.exe" EntryPoint="GeolocationCPP.App">
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="BackgroundTask.LocationBackgroundTask">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="BackgroundTask.GeofenceBackgroundTask">
          <BackgroundTasks>
            <Task Type="timer" />
            <Task Type="systemEvent" />
            <m2:Task Type="location" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
      <m2:VisualElements DisplayName="Geolocation CPP sample" Description="Geolocation CPP sample" BackgroundColor="#00b2f0" ForegroundText="light" ToastCapable="true" Square150x150Logo="Assets\squareTile-sdk.png" Square30x30Logo="Assets\smallTile-sdk.png">
        <m2:DefaultTile ShortName="Geoloc CPP">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:LockScreen Notification="badge" BadgeLogo="assets\badge-logo.png" />
        <m2:SplashScreen BackgroundColor="#00b2f0" Image="Assets\splash-sdk.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>
